@import 'tailwindcss';
@plugin '@tailwindcss/typography';

/* Enable `.dark` class variant for Tailwind v4 */
@custom-variant dark (&:where(.dark, .dark *));

@import './fonts.css';
@import './colors.css';
@import './light.css';
@import './dark.css';
@import './tokens.css';
@import './utils.css';
@import './components.css';
@import './base.css';
@import './gltf-viewer.css';
