{{ define "main" }}
  <header class="page-header">
    {{ partial "breadcrumb.html" . }}
    <h1>{{ .Title }}</h1>
    {{ with .Summary }}<p class="description">{{ . | plainify }}</p>{{ end }}
  </header>
  {{ $pages := .RegularPagesRecursive }}
  {{ if $pages }}
    <ul class="entry-list">
      {{ range $pages.ByDate.Reverse }}
        <li class="entry">
          <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
          {{ with .Summary }}<p class="description">{{ . | plainify }}</p>{{ end }}
          {{ partial "post-meta.html" . }}
        </li>
      {{ end }}
    </ul>
  {{ end }}
{{ end }}
