{{ define "main" }}
  <header class="page-header">
    <h1>{{ .Title }}</h1>
    {{ with .Description }}<p class="description">{{ . }}</p>{{ end }}
  </header>
  <ul class="entry-list">
    {{ range .Pages.ByDate.Reverse }}
      <li class="entry">
        <a href="{{ .RelPermalink }}">
          <h2>{{ .Title }}</h2>
          {{ with .Description }}<p class="description">{{ . }}</p>{{ end }}
          {{ if not .Date.IsZero }}
            <p class="date"><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time></p>
          {{ end }}
        </a>
      </li>
    {{ end }}
  </ul>
{{ end }}
