---
import Button from './Button.astro'

interface Props {
  id: string
  ariaLabel: string
  target?: string
  class?: string
}

const { id, ariaLabel, target, class: className = '' } = Astro.props
---

<div class={`relative ${className}`}>
  <Button
    variant="ghost"
    color="neutral"
    size="sm"
    class="cursor-pointer"
    {id}
    aria-label={ariaLabel}
    aria-haspopup="true"
    aria-expanded="false"
    data-toggle-button
    data-toggle-target={target}
  >
    <slot />
  </Button>

  <slot name="menu" />
</div>
