---
import type { HTMLAttributes } from 'astro/types'

import { buttonVariants } from './Button.cva'
import type { ButtonVariants } from './Button.cva'

import { cn } from '@/lib/utils'

export interface Props extends Omit<HTMLAttributes<'button'>, 'color'>, ButtonVariants {
  /** Render as button or span (span adds role="button" and tabindex="0") */
  as?: 'button' | 'span'
  type?: 'button' | 'submit' | 'reset'
  disabled?: boolean
  class?: string
}

const {
  as = 'button',
  variant,
  color,
  size,
  fullWidth,
  class: className = '',
  type,
  disabled,
  ...rest
} = Astro.props

const classes = cn(buttonVariants({ variant, color, size, fullWidth }), className)
---

{
  as === 'span' ? (
    <span role="button" tabindex="0" class={classes} {...rest}>
      <slot />
    </span>
  ) : (
    <button {type} {disabled} class={classes} {...rest}>
      <slot />
    </button>
  )
}
