---
import type { HTMLAttributes } from 'astro/types'

import { type ButtonVariants, buttonVariants } from './Button.cva'

import { cn } from '@/lib/utils'

export interface Props extends Omit<HTMLAttributes<'button'>, 'color'>, ButtonVariants {
  type?: 'button' | 'submit' | 'reset'
  disabled?: boolean
  class?: string
}

const {
  variant,
  color,
  size,
  fullWidth,
  class: className = '',
  type,
  disabled,
  ...rest
} = Astro.props
---

<button
  {type}
  {disabled}
  class={cn(buttonVariants({ variant, color, size, fullWidth }), className)}
  {...rest}
>
  <slot />
</button>
