---
import type { HTMLAttributes } from 'astro/types'

import { clusterCva } from './Cluster.cva'
import type { ClusterStyle } from './Cluster.cva'

import { cn } from '@/lib/utils'

export interface Props extends HTMLAttributes<'span'>, ClusterStyle {
  class?: string
}

const {
  direction,
  'direction-sm': directionSm,
  'direction-md': directionMd,
  'direction-lg': directionLg,
  'direction-xl': directionXl,
  space,
  align,
  justify,
  class: className = '',
  ...rest
} = Astro.props
---

<span
  class={cn(
    clusterCva({
      direction,
      'direction-sm': directionSm,
      'direction-md': directionMd,
      'direction-lg': directionLg,
      'direction-xl': directionXl,
      space,
      align,
      justify,
    }),
    className,
  )}
  {...rest}
>
  <slot />
</span>
