---
import type { HTMLAttributes } from 'astro/types'

import { type ClusterStyle, clusterCva } from './Cluster.cva'

import { cn } from '@/lib/utils'

export interface Props extends HTMLAttributes<'span'>, ClusterStyle {
  class?: string
}

const { space, align, class: className = '', ...rest } = Astro.props
---

<span class={cn(clusterCva({ space, align }), className)} {...rest}>
  <slot />
</span>
