---
import type { HTMLAttributes } from 'astro/types'

import { containerCva } from './Container.cva'
import type { ContainerStyle } from './Container.cva'

import { cn } from '@/lib/utils'

export interface Props extends HTMLAttributes<'div'>, ContainerStyle {
  class?: string
}

const { width, padX, fluidUntil, center, class: className = '', ...rest } = Astro.props
---

<div class={cn(containerCva({ width, padX, fluidUntil, center }), className)} {...rest}>
  <slot />
</div>
