---
import type { HTMLAttributes } from 'astro/types'

import { dividerCva } from './Divider.cva'
import type { DividerStyle } from './Divider.cva'

import { cn } from '@/lib/utils'

export interface Props extends HTMLAttributes<'div'>, DividerStyle {
  class?: string
}

const { orientation, weight, class: className = '', ...rest } = Astro.props
---

<div class={cn(dividerCva({ orientation, weight }), className)} {...rest}></div>
