---
import { inlineCva, type InlineStyle } from './Inline.cva'
import { cn } from '@/lib/utils'

interface Props extends InlineStyle {
  class?: string
  [key: string]: any // Allow any additional HTML attributes
}

const { space, align, justify, wrap, class: className = '', ...rest } = Astro.props
---

<div class={cn(inlineCva({ space, align, justify, wrap }), className)} {...rest}>
  <slot />
</div>
