---
import type { HTMLAttributes } from 'astro/types'

import { insetCva } from './Inset.cva'
import type { InsetStyle } from './Inset.cva'

import { cn } from '@/lib/utils'

export interface Props extends HTMLAttributes<'div'>, InsetStyle {
  class?: string
}

const { space, squish, class: className = '', ...rest } = Astro.props
---

<div class={cn(insetCva({ space, squish }), className)} {...rest}>
  <slot />
</div>
