---
import type { HTMLAttributes } from 'astro/types'

import { type OverlayStyle, overlayCva } from './Overlay.cva'

import { cn } from '@/lib/utils'

export interface Props extends HTMLAttributes<'div'>, OverlayStyle {
  class?: string
}

const { preset, blur, class: className = '', ...rest } = Astro.props
---

<div aria-hidden="true" class={cn(overlayCva({ preset, blur }), className)} {...rest}></div>
