---
import type { HTMLAttributes } from 'astro/types'
import type { PillToggleButtonVariants } from './PillToggle.cva'
import { cn } from '@/lib/utils'
import { pillToggleButtonVariants } from './PillToggle.cva'

export interface Props extends HTMLAttributes<'button'>, PillToggleButtonVariants {
  'data-value': string
  'aria-label': string
  class?: string
}

const { 'data-value': dataValue, 'aria-label': ariaLabel, class: className, ...rest } = Astro.props
---

<button
  data-value={dataValue}
  aria-label={ariaLabel}
  type="button"
  class={cn(pillToggleButtonVariants(), className)}
  {...rest}
>
  <slot />
</button>
