---
import type { HTMLAttributes } from 'astro/types'

import { stackCva } from './Stack.cva'
import type { StackStyle } from './Stack.cva'

import { cn } from '@/lib/utils'

// HTMLAttributes first, then StackStyle overrides
export interface Props extends HTMLAttributes<'div'>, StackStyle {
  class?: string
}

const {
  direction,
  'direction-sm': directionSm,
  'direction-md': directionMd,
  'direction-lg': directionLg,
  'direction-xl': directionXl,
  space,
  align,
  justify,
  class: className = '',
  ...rest
} = Astro.props
---

<div
  class={cn(
    stackCva({
      direction,
      'direction-sm': directionSm,
      'direction-md': directionMd,
      'direction-lg': directionLg,
      'direction-xl': directionXl,
      space,
      align,
      justify,
    }),
    className,
  )}
  {...rest}
>
  <slot />
</div>
