---
import { stackCva, type StackStyle } from './Stack.cva'
import { cn } from '@/lib/utils'

interface Props extends StackStyle {
  class?: string
  [key: string]: any // Allow any additional HTML attributes
}

const { space, align, justify, class: className = '', ...rest } = Astro.props
---

<div class={cn(stackCva({ space, align, justify }), className)} {...rest}>
  <slot />
</div>
