---
import { cardVariants, type CardVariants } from './Card.cva'

interface Props extends CardVariants {
  class?: string
  [key: string]: any
}

const { variant, class: className, ...rest } = Astro.props
---

<div class={cardVariants({ variant, class: className })} {...rest}>
  <slot />
</div>
