---
import {
  pillToggleVariants,
  pillToggleSliderVariants,
  type PillToggleVariants,
} from './PillToggle.cva'
import { cn } from '@/lib/utils'

/**
 * PillToggle - A generic pill-shaped toggle component with multiple options
 *
 * @example
 * <PillToggle id="my-toggle">
 *   <PillToggleButton data-value="option1">Option 1</PillToggleButton>
 *   <PillToggleButton data-value="option2">Option 2</PillToggleButton>
 *   <PillToggleButton data-value="option3">Option 3</PillToggleButton>
 * </PillToggle>
 */

interface Props extends PillToggleVariants {
  id: string
  ariaLabel?: string
  class?: string
}

const { id, ariaLabel, class: className } = Astro.props
---

<div {id} role="group" aria-label={ariaLabel} class={cn(pillToggleVariants(), className)}>
  <!-- Sliding indicator background -->
  <div
    class={pillToggleSliderVariants()}
    style="transform: translateX(0px); transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1), opacity 150ms ease-in;"
    data-slider
  >
  </div>
  <slot />
</div>
